<%@ Master Language="C#" AutoEventWireup="true" Inherits="AspDotNetStorefront.MasterPageBase" %>

<%@ Register TagPrefix="aspdnsfc" Namespace="AspDotNetStorefrontControls" Assembly="AspDotNetStorefrontControls" %>
<%@ Register TagPrefix="aspdnsf" TagName="Topic" Src="~/Controls/TopicControl.ascx" %>
<%@ Register TagPrefix="aspdnsf" TagName="XmlPackage" Src="~/Controls/XmlPackageControl.ascx" %>
<%@ Register TagPrefix="custom" TagName="Search" Src="Controls/Search.ascx" %>
<%@ Import Namespace="AspDotNetStorefrontCore" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<%-- Leave the title empty, it will get populated at runtime --%>
	<title></title>
	<%-- Leave the description and keyword content empty, it will get populated at runtime --%>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<%-- The skin ref will base on the current theme applied so we don't need to declare here which css file to use --%>
	<%--<link runat="server" rel="stylesheet" href="~/skins/skin_1/style.css" type="text/css">--%>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Sacramento' rel='stylesheet' type='text/css'>
	<%-- jQuery is required in versions 9.4 and higher --%>
	<script src="jscripts/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		adnsf$ = jQuery; <%-- to avoid conflicts with existing jQuery versions and other javascript frameworks, change this line to adnsf$ = jQuery.noConflict(); --%>
	</script>
	<script src="App_Templates/Skin_<asp:Literal runat='server' Text='<%$ Tokens:SkinId %>' />/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" type="text/javascript"></script><script>
 		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58841301-1', 'auto');
	  	ga('send', 'pageview');
	</script>

</head>
<body id="bodyTag">
	<aspdnsf:XmlPackage runat="server" PackageName="homestyles" />
	<!-- Respond.js IE8 support of media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<asp:Literal ID="ltrPageInfo" runat="server" Text='<%$ Tokens:PageInfo %>' />
	<%--This xmlpackage can be used to add dynamic data to javascripts such as tracking scripts that should run just after the opening body tag--%>
	<aspdnsf:XmlPackage runat="server" PackageName="script.bodyopen" />
	<form id="form1" runat="server">
		<%  if(RequireScriptManager)
			{ %>
		<%-- Only render for pages that require ajax --%>
		<ajaxToolkit:ToolkitScriptManager runat="server" ID="scrptMgr" CombineScripts="true" />
		<% } %>

		<nav class="navbar navbar-default navbar-static-top">
  			<div class="container">
				  <a class="navbar-brand" href="/">
      					<img src="/images/logos/basic_logo_large.png" alt="Brass Bell"> 
    			  </a>
				  <div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
    			</div>
    			<div id="navbar" class="navbar-collapse collapse">
      				<ul class="nav navbar-nav">
						  <li class="dropdown">
          					<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Shop<span class="caret"></span></a>
          					<ul class="dropdown-menu" role="menu">
            					<li><a href="http://www.shopbrassbellmusic.com/categories/Orchestra-75.html">Orchestra</a></li>
            					<li><a href="http://www.shopbrassbellmusic.com/categories/Band-40.html">Band</a></li>
            					<li><a href="http://www.shopbrassbellmusic.com/categories/Sheet-Music-Books-95.html">Print Music</a></li>
            					<li><a href="http://www.shopbrassbellmusic.com/categories/Accessories-Gifts-166.html">Accessories &amp; Gifts</a></li>
          						<li><a href="http://www.shopbrassbellmusic.comhttp://www.shopbrassbellmusic.com/categories.php">View All</a></li>
          					</ul>
        				  </li>
						  <li class="dropdown">
							<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Services<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="http://www.brassbellmusic.com/aeRntSchoolSelect.aspx">Rentals</a></li>
            					<li><a href="http://www.brassbellmusic.com/t-lessons.aspx">Lessons</a></li>
            					<li><a href="http://www.brassbellmusic.com/t-PrintMusic.aspx">Print Music</a></li>
            					<li><a href="http://www.brassbellmusic.com/t-repairs.aspx">Repairs</a></li>
          						<li><a href="http://www.brassbellmusic.com/t-events.aspx">Events</a></li>
								<li><a href="http://www.brassbellmusic.com/t-InstrumentSale.aspx">Sell Us an Instrument</a></li>
							</ul>
						  </li>
						  <li class="dropdown">
          					<a href="http://www.shopbrassbellmusic.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">About Us<span class="caret"></span></a>
          					<ul class="dropdown-menu" role="menu">
            					<li><a href="http://www.shopbrassbellmusic.com/contact_us.php">Contact Us</a></li>
    							<li><a href="http://www.shopbrassbellmusic.com/staff.php">Meet Our Staff</a></li>
								<li><a href="http://www.brassbellmusic.com/t-aboutus.aspx">About Us</a></li>
          					</ul>
        				</li>
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
                		<li><a href="https://shopbras.musicpayhost.com/account.php?sid=c9a331a0f8f3368cd2396e8c6ecab804">My Account</a></li>
        				<li><a href="https://shopbras.musicpayhost.com/checkout.php?sid=c9a331a0f8f3368cd2396e8c6ecab804">Checkout</a></li>
      				</ul>
    			</div>
  			</div>
		</nav>

		<!--<div class="container">
			<div class="row">
      			<div class="col-md-5">
        			<a href="http://www.brassbellmusic.com"><img id="hd-logo" src="/images/logos/header_logo.jpg" class="img-responsive" alt=""></a>
      			</div>
      			<div class="col-md-13 col-sm-5">
        			<div id="hd-cart">
                    	<a href="http://www.shopbrassbellmusic.com/shopping_cart.php" class="btn btn-primary btn-block" role="button">
						<span class="glyphicon glyphicon-shopping-cart icon-rotate icon-flipped" aria-hidden="true"></span> Cart</a>
                	</div>
		    		<div id="hd-search" class="input-group">
						<custom:Search ID="Search1" runat="server" />
					</div>
				</div>
    		</div>
		</div>-->

		<div class="main-content-wrapper">
			<aspdnsf:Topic runat="server" TopicName="0-product-add-this" />
			<div class="main-background">
				<!-- <aspdnsf:XmlPackage runat="server" PackageName="homechunks" /> -->
				<div class="container">
					<!-- CONTENTS START -->
					<asp:ContentPlaceHolder ID="PageContent" runat="server">
					</asp:ContentPlaceHolder>
					<!-- CONTENTS END -->
				</div>
			</div>
		</div>

		<div class="footer-wrapper">
			<div class="container">
				<div class="row footer-row">
					<aspdnsf:Topic runat="server" TopicName="0-template-footer-menus" />
					<div class="clearfix"></div>
				</div>
				<div class="row copyright-row">
					<div class="col-xs-12 copyright">
						<aspdnsf:Topic runat="server" TopicName="0-template-footer-copyright" />
					</div>
				</div>
			</div>
		</div>
	</form>
	<aspdnsf:XmlPackage runat="server" PackageName="promo-window" />
	<script type="text/javascript">
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<asp:Literal ID="litBuySafeSeal" runat="server" Text='<%$ Tokens:BuySafeSeal %>' />
	<asp:Literal ID="litBongoExtend" runat="server" Text='<%$ Tokens:BongoExtend %>' />
	<asp:Literal ID="litTrustedStores" runat="server" Text='<%$ Tokens: XmlPackage, skin.trustedstores.xml.config %>' />
	<%--This xmlpackage can be used to add dynamic data to javascripts such as tracking scripts that should run before the closing body tag--%>
	<aspdnsf:XmlPackage runat="server" PackageName="script.bodyclose" />
	<!-- Responsive Skin Using the Twitter Bootstrap Framework (http://getbootstrap.com) -->
	<!-- Skin Version 1.1 -->
	<script src="App_Templates/Skin_<asp:Literal runat='server' Text='<%$ Tokens:SkinId %>' />/js/videoresize.js" type="text/javascript"></script>
</body>
</html>
